.wrapper{
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 20% auto 10%;
    grid-template-areas:
    "header header header header"
    "lSelectorArea lSelectorArea rSelectorArea rSelectorArea"
    "arena arena arena arena"
    "footer footer footer footer";
    background-color: rgb(39, 100, 39);
}

.header{
    margin:1em;
    background: linear-gradient(to bottom right,yellow, red, yellow);
    grid-column: 0/end;
    grid-row:0/1;
    grid-area: header; 
    text-align: center;
    color: rgb(19, 19, 201);
    border-radius: 1em;
}

.fOneSelect{
    margin: auto;
    grid-column: 0/span 2;
    grid-row: 2/span 1;
    grid-area:lSelectorArea;
    border: .25em;
}
#p1Button{
    margin: 1em;
}

.fightButton{
    font-style: bold;
    grid-row: 2/span 1;
    grid-column: 2/4;
    margin: auto;
}

.fTwoSelect{
    margin: auto;
    grid-column: 3/end;
    grid-row: 2/span 1;
    grid-area: rSelectorArea;
    border: .25em;
}
#p2Button{
    margin: 1em;
}

.battleArea{
    grid-area: arena;
    margin: 1em;
    height: 30em;
    grid-column: 0/end;
    grid-row: 3/4;
    display: grid;
    grid-template-areas:
        "f1 f2";
    
}

.fTwo{
    margin: 1em;
    border: .1em solid black;
    display: grid;
    grid-template-areas:
        "name name name"
        "pic pic stats"
        "pic pic stats"
        "pic pic stats";
    grid-template-columns: 1fr 1fr 6em;
    grid-template-rows: 6em auto auto 6em;
    /* max-width: 752.79px; */
}
.fTwoStats{
    grid-area: stats;
    grid-column: 3/end;
    grid-row: 2/end;
    border: .1em solid black;
    display: grid;
    grid-template-areas:
        "strHead"
        "str"
        "defHead"
        "def"
        "hpHead"
        "hp";
    grid-template-rows: 10% 23.3% 10% 23.3% 10% 23.3%; 
}
.statsWords{
    font-size: 125%;
    text-align: center;
    color: white;
    margin: auto;
    line-height: 1.5em;
}

.statNums2{
    margin: auto;
    color: white;
    font-weight: bolder;
}
#p2StrNum{
    margin: auto;
    grid-row: 2/3;
    grid-area: str;
    font-weight: bolder;
    color: white;
}
#p2DefNum{
    margin: auto;
    grid-row: 4/5;
    grid-area: def;
    font-weight: bolder;
    color: white;
}
#p2Str{
    grid-row: 0/span 1;
    grid-area: strHead;
    background-color: red;
}
#p2Defense{
    grid-row: 3/span 1;
    grid-area: defHead;
    background-color: rgb(20, 83, 219);
}
#fTwoName{
    grid-area: name;
    text-align: center;
    line-height: 2em;
    background: linear-gradient(to bottom left,yellow, red);
    font-weight: bolder;
    font-size:300%;
    
}
#fTwoImage{
    grid-area: pic;
    grid-column: 1/span 2;
    grid-row: 2/end;
    border: .1em solid black;
    min-height: 0;
    /* max-width: 564.6px; */
    background-image: url("https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    /* background-color: black; */
}
#fTwoSprite{
    /* margin: auto; */
    grid-area: pic;
    grid-column: 1/3;
    grid-row: 2/end;
    overflow: hidden;
    min-width: 0;
    height: 20em;
    /* clip: rect(100px,200px,200px,0px); */
    /* object-fit: cover; */
}
/* img.fOneImageClass{
    border: 5px solid black;
    margin: auto; 
    height: 500px;
} */
#fTwoHp{
    grid-area: hp;
    grid-row:5/6;
    border: .1em solid black;
    text-align: center;
    font-weight: thicker;
    grid-area: hpHead;
    background-color: rgb(15, 228, 15);
}
#fTwoHpNum{
    text-align: center;
    grid-row: 6/end;
    grid-area: hp;
    font-weight: bolder;
    color: white;
}
.fOne{
    margin: 1em;
    border: .1em solid black;
    display: grid;
    grid-template-areas:
        "name name name"
        "stats pic pic"
        "stats pic pic"
        "hp pic pic";
    grid-template-columns: 6em 1fr 1fr;
    grid-template-rows: 6em auto auto 6em;
    max-width: 752.79px;
}
.fOneStats{
    grid-area: stats;
    grid-column: 1/span 1;
    grid-row: 2/end;
    border: .1em solid black;
    display: grid;
    grid-template-areas:
        "strHead"
        "str"
        "defHead"
        "def"
        "hpHead"
        "hp";
    grid-template-rows: 10% 23.3% 10% 23.3% 10% 23.3%; 
}

.statNums1{
    margin: auto;
    /* grid-column: 2/end;
    grid-row:1/end; */
}
#p1StrNum{
    margin: auto;
    grid-row: 2/ span 1;
    grid-area: str;
    font-weight: bolder;
    color: white;
}
#p1DefNum{
    margin: auto;
    grid-row: 4/span 1;
    grid-area: def;
    font-weight: bolder;
    color: white;
}
#p1Str{
    grid-row: 0/span 1;
    grid-area: strHead;
    background-color: red;
}
#p1Defense{
    grid-row: 3/ span 1;
    grid-area: defHead;
    background-color: rgb(20, 83, 219);
}
#fOneName{
    grid-area: name;
    text-align: center;
    line-height: 2em;
    background: linear-gradient(to bottom right,yellow, red);
    font-weight: bolder;
    font-size:300%;
}
#fOneImage{
    grid-area: pic;
    grid-column: 2/end;
    grid-row: 2/end;
    border: .1em solid black;
    min-height: 0;
    background-image: url("https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    transform: scaleX(-1);
    /* background-color: black; */
    
}
#fOneSprite{
    /* margin: auto; */
    grid-area: pic;
    grid-column: 2/end;
    grid-row: 2/end;
    overflow: hidden;
    min-width: 0;
    height: 20em;
    
    /* clip: rect(100px,200px,200px,0px); */
    /* object-fit: cover; */
}
#fOneHp{
    grid-area: hp;
    grid-row:5/6;
    border: .1em solid black;
    text-align: center;
    font-weight: thicker;
    grid-area: hpHead;
    background-color: rgb(15, 228, 15);
}
#fOneHpNum{
    text-align: center;
    grid-row: 6/end;
    grid-area: hp;
    font-weight: bolder;
    color: white;
}

.results{
    margin: 1em;
}

.footer{
    margin: 1em;
    grid-row: 4/end;
    grid-column: 1/end;
}
